@use './sass/reset';
@use './sass' as *;
@use 'sass:color';

// #root {
//     background-color: color.adjust($color-1, $lightness: 10%);
// }

%controls-elements {
    position: absolute;
    z-index: 3;
}

.bg-container {
    position: relative;
    min-height: 100vh;
}

.map-wrapper {
    position: absolute;
    z-index: 2;

    height: 100vh;
    width: 100%;
}

.header-container {
    $nav-height: 10vh;
    @extend %controls-elements;

    min-height: $nav-height;
    width: 100%;
    padding: $padding $padding * 6;

    background-image: linear-gradient(to right, #076709, #222220, #222220, #222220, #222220);
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .seperator {
        border: 1px solid #cccccc22;
        width: 1px;
        height: $nav-height * 0.5;
        margin: 0 $margin;
    }
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: $gap;

    .icon {
        font-size: 1.3rem;
    }

    .drone-status {
        font-size: 1.5rem;
    }

    .signal-status{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .battery-status {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $gap * 0.5;
        
        .battery-icon {
            transform: rotate(90deg);
        }

        .battery-percentage-text {
            font-size: 0.8rem;
        }
    }
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $gap;

    .btn {
        background-color: #e2e2e244;
        color: white;
        font-weight: 500;
        font-size: 0.7rem;
    
        min-width: 50px;
        padding: 8px;
        border-radius: 8px;
        border: none;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $gap * 0.9;

        transition: 0.2s ease;

        &.selected {
            background-color: white;
            color: #555553;

            &:hover {
                transform: scale(1.03);
            }
        }
    
        &:hover {
            transition: 0.2s ease;
            transform: scale(1.05);
        }
    
        &[disabled] {
            color: #ffffff55;
            cursor: not-allowed;

            &:hover {
                transform: scale(1);
            }
        }

        .icon {
            font-size: 1.2rem;
        }
    }
}


.loader-container {
    background-color: #00000088;
    height: 100vh;
    width: 100%;
    
    position: absolute;
    z-index: 4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}